.wrapper {
    display: flex;
    
    flex-wrap: wrap;
}

.container {
    height: 300px;
    border : 1px solid grey;
    padding: 10px 30px;
}

.itemContainer {
    
    border : 1px solid paleturquoise;
    padding: 5px 10px;

}