.wrapper {
    display: flex;
    background-color: #f9efe0;
    
    flex-wrap: wrap;
}

.container {
    height: 300px;
    border : 1px solid grey;
    padding: 10px 30px;
}

.itemContainer {
    
    border : 1px solid paleturquoise;
    padding: 5px 10px;
}

.itemContainer.is-bought {
    background-color: lightgreen
  }